# ignore model checkpoint files
*.pt
*.ckpt
*.pth
*.h5

# ignore image and numpy files
*.png
*.npy
*.tar

# ignore Python cache files
__pycache__/
*.py[cod]

# ignore system files
.DS_Store
.vscode/
.idea/
